
@{
    ViewBag.Title = "دوره مکالمه";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<main class="inner-page conversation">
    <div class="container text-center">
        <h3 class="title">دوره های مکالمه</h3>
        <h6 class="mt-3 mb-5 subtitle">شامل مطالب مربوط به IELTS</h6>
        <div class="contents">
            <div class="col-lg-4 col-md-6">
                <a href="">
                    <div class="item">
                        <div class="icon d-flex justify-content-center mb-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <img src="~/Content/Images/conversation1.png" alt="">
                            </span>
                        </div>
                        <h5 class="mb-3">دوره های حضوری مکالمه</h5>
                        <p>این دوره مناسب افرادیست که در زبان انگلیسی اطلاعات اندکی دارند یا گاهاً اطلاعاتی ندارند.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="">
                    <div class="item">
                        <div class="icon d-flex justify-content-center mb-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <img src="~/Content/Images/chat.png" alt="">
                            </span>
                        </div>
                        <h5 class="mb-3">دوره های غیر حضوری مکالمه</h5>
                        <p>
                            مبنای آموزشی این سیستم تمرکز روی مکالمه است واز نرم افزار تلگرم برای آموزش استفاده می
                            کنیم.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="">
                    <div class="item">
                        <div class="icon d-flex justify-content-center mb-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <img src="~/Content/Images/team.png" alt="">
                            </span>
                        </div>
                        <h5 class="mb-3">دوره های Free Discussion</h5>
                        <p>
                            خیلی از افراد به دنبال کلاس فقط مکالمه هستند ، به این نوع کلاس ها، کلاس های Free Discussion
                            می گویند.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-5 companies text-center">
        <h3 class="title">سازمان ها</h3>
        <h6 class="mt-3 mb-5 subtitle">شامل سازمان ها و همکاران</h6>
        <div class="companies-list">
            <div class="list-carousel owl-carousel owl-theme">
                <div class="img"><img src="~/Content/Images/tejaratBank.png" alt=""></div>
                <div class="img"><img src="~/Content/Images/MatagheazadeAnzali.png" alt=""></div>
                <div class="img"><img src="~/Content/Images/PalayeshnafteEsfehan.png" alt=""></div>
                <div class="img"><img src="~/Content/Images/Irankhudro.png" alt=""></div>
            </div>
        </div>
    </div>
</main>
