
@{
    ViewBag.Title = "دوره های دکتری";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<main class="inner-page PHD">
    <div class="container text-center">
        <h3 class="title">دوره های مکالمه</h3>
        <h6 class="mt-3 mb-5 subtitle">شامل مطالب مربوط به IELTS</h6>
        <div class="contents">
            <div class="col-md-6">
                <a href="">
                    <div class="item d-flex flex-wrap">
                        <div class="icon d-flex justify-content-center col-lg-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <img src="~/Content/Images/conversation1.png" alt="">
                            </span>
                        </div>
                        <div class="text text-justify col-lg-8">
                            <h5 class="mb-3">زبان تخصصی شرکت ها</h5>
                            <p>
                                آکادمی زبان با بیش از یک دهه سابقه درخشان در زمینۀ ارائه آموزش زبان عمومی و دوره های زبان
                                تخصصی در امر آموزش های گروهی و برون سازمانی برای ارگان های دولتی
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="">
                    <div class="item d-flex flex-wrap">
                        <div class="icon d-flex justify-content-center col-lg-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <img src="~/Content/Images/chat.png" alt="">
                            </span>
                        </div>
                        <div class="text text-justify col-lg-8">
                            <h5 class="mb-3">دوره های غیر حضوری مکالمه</h5>
                            <p>
                                مبنای آموزشی این سیستم تمرکز روی مکالمه است واز نرم افزار تلگرم برای آموزش استفاده می
                                کنیم.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="">
                    <div class="item d-flex flex-wrap">
                        <div class="icon d-flex justify-content-center col-lg-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <img src="~/Content/Images/team.png" alt="">
                            </span>
                        </div>
                        <div class="text text-justify col-lg-8">
                            <h5 class="mb-3">دوره های Free Discussion</h5>
                            <p>
                                خیلی از افراد به دنبال کلاس فقط مکالمه هستند ، به این نوع کلاس ها، کلاس های Free
                                Discussion
                                می گویند.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="">
                    <div class="item d-flex flex-wrap">
                        <div class="icon d-flex justify-content-center col-lg-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <img src="~/Content/Images/team.png" alt="">
                            </span>
                        </div>
                        <div class="text text-justify col-lg-8">
                            <h5 class="mb-3">دوره های مکالمه</h5>
                            <p>
                                این دوره مناسب افرادیست که در زبان انگلیسی اطلاعات اندکی دارند یا گاهاً اطلاعاتی
                                ندارند.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="">
                    <div class="item d-flex flex-wrap">
                        <div class="icon d-flex justify-content-center col-lg-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <img src="~/Content/Images/team.png" alt="">
                            </span>
                        </div>
                        <div class="text text-justify col-lg-8">
                            <h5 class="mb-3">دوره های مقطع دکتری</h5>
                            <p>
                                این دوره مناسب افرادیست که در زبان انگلیسی اطلاعات اندکی دارند یا گاهاً اطلاعاتی
                                ندارند.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="">
                    <div class="item d-flex flex-wrap">
                        <div class="icon d-flex justify-content-center col-lg-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <img src="~/Content/Images/team.png" alt="">
                            </span>
                        </div>
                        <div class="text text-justify col-lg-8">
                            <h5 class="mb-3">نمایش فیلم</h5>
                            <p>
                                برای بسیاری از زبان آموزان یادگیری زبان انگلیسی از روش‌های مرسوم، متعارف و یا سنتی خسته
                                کننده
                                و آزار دهنده است.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="">
                    <div class="item d-flex flex-wrap">
                        <div class="icon d-flex justify-content-center col-lg-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <img src="~/Content/Images/team.png" alt="">
                            </span>
                        </div>
                        <div class="text text-justify col-lg-8">
                            <h5 class="mb-3">تورهای آموزشی</h5>
                            <p>
                                از جمله اهداف باشگاه مشتریان ESL، ارائه خدمات آموزشی زبان در محیطی بیرون از کلاس های ESL
                                می باشد و از طرفی دیگر پاسخگویی مثبت نسبت به حضور دانشجویان
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-5 companies text-center">
        <h3 class="title">سازمان ها</h3>
        <h6 class="mt-3 mb-5 subtitle">شامل سازمان ها و همکاران</h6>
        <div class="companies-list">
            <div class="list-carousel owl-carousel owl-theme">
                <div class="img"><img src="~/Content/Images/tejaratBank.png" alt=""></div>
                <div class="img"><img src="~/Content/Images/MatagheazadeAnzali.png" alt=""></div>
                <div class="img"><img src="~/Content/Images/PalayeshnafteEsfehan.png" alt=""></div>
                <div class="img"><img src="~/Content/Images/Irankhudro.png" alt=""></div>
            </div>
        </div>
    </div>
</main>
