@using Stimulsoft.Report.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Exam Report</h2>

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Theme = StiTheme.Office2013,
    ActionGetReportSnapshot = "ExamRemotely",
    ActionViewerEvent = "ViewerEvent"
})
