
@{
    ViewBag.Title = "خانه";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<main class="inner-page ieltsHome">
    <div class="container text-center">
        <h3 class="title">خانه آیلتس</h3>
        <h6 class="mt-3 mb-5 subtitle">شامل مطالب مربوط به IELTS</h6>
        <div class="contents">
            <div class="col-lg-4 col-md-6">
                <a href="">
                    <div class="item">
                        <div class="icon d-flex justify-content-center mb-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <span class="fas fa-headphones"></span>
                            </span>
                        </div>
                        <h5 class="mb-3">IELTS LISTENING</h5>
                        <p>دفترچه‌ای حاوی چهل سؤال در 4 بخش نوار امتحان .شنیداری فقط یکبار پخش می شود.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="">
                    <div class="item">
                        <div class="icon d-flex justify-content-center mb-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <span class="fas fa-list-ol"></span>
                            </span>
                        </div>
                        <h5 class="mb-3">آزمون های ماک IELTS</h5>
                        <p>
                            شما نمره ای بین 1 تا 9 در هر یک از آزمون های listening,Speaking,Writing,Reading دریافت خواهید
                            کرد.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="">
                    <div class="item">
                        <div class="icon d-flex justify-content-center mb-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <span class="far fa-check"></span>
                            </span>
                        </div>
                        <h5 class="mb-3">همایش تکنیک های موفقیت در IELTS</h5>
                        <p></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="">
                    <div class="item">
                        <div class="icon d-flex justify-content-center mb-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <span class="fas fa-comments"></span>
                            </span>
                        </div>
                        <h5 class="mb-3">IELTS SPEAKING</h5>
                        <p>
                            امتحان گفتاری که زمان 11 تا 14 دقیقه می‌باشد، یک امتحان به صورت گفتار رو در رو می باشد و شامل
                            سه
                            بخش است.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="">
                    <div class="item">
                        <div class="icon d-flex justify-content-center mb-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <span class="fas fa-pen"></span>
                            </span>
                        </div>
                        <h5 class="mb-3">IELTS WRITING</h5>
                        <p>.برای دو موضوع باید انشاء بنویسید.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="">
                    <div class="item">
                        <div class="icon d-flex justify-content-center mb-4">
                            <span class="bg-icon d-flex justify-content-center align-items-center">
                                <span class="fas fa-copy"></span>
                            </span>
                        </div>
                        <h5 class="mb-3">IELTS READING</h5>
                        <p>دفترچه حاوی متون که جمعاً 2000 تا 2700 کلمه دارند .به داوطلب داده می شود.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="ieltsDefinition my-5 d-flex flex-wrap">
            <div class="right-part col-lg-6 col-sm-12">
                <h5>آیلتس چیست؟</h5>
                <p class="text-justify mt-4">
                    آزمون آیلتس (IELTS) یا The International English Language Testing System
                    برای سنجش چهار مهارت اصلی Writing ,Listening ,Reading ,Speaking طراحی شده است. و به صورت سیستماتیک و
                    کاملاً هدفمند به سنجش و ارزیابی این مهارت ها می پردازد. برای طراحی هر آزمون آیلتس و گزینش سؤالات
                    مربوط به هر سنجش، تیمی متشکل از یک روانشناس، یک حامعه شناس، چند کارشناس زبان شناسی، چند متخصص
                    Testing و تعدادی از افراد با گویش ها و لهجه های متنوع جهت اجرای قسمت Listening باهم همکاری می
                    کنند.
                </p>
                <div class="link ml-4 mt-5">
                    <a href="">بیشتر</a>
                </div>
            </div>
            <div class="left-part col-lg-6 col-sm-12">
                <img src="~/Content/Images/img1.png" alt="">
            </div>
        </div>
    </div>
    <div class="mt-5 companies text-center">
        <h3 class="title">سازمان ها</h3>
        <h6 class="mt-3 mb-5 subtitle">شامل سازمان ها و همکاران</h6>
        <div class="companies-list">
            <div class="list-carousel owl-carousel owl-theme">
                <div class="img"><img src="~/Content/Images/tejaratBank.png" alt=""></div>
                <div class="img"><img src="~/Content/Images/MatagheazadeAnzali.png" alt=""></div>
                <div class="img"><img src="~/Content/Images/PalayeshnafteEsfehan.png" alt=""></div>
                <div class="img"><img src="~/Content/Images/Irankhudro.png" alt=""></div>
            </div>
        </div>
    </div>
</main>
