/*********************************************** General Style **************************************/
body {
    font-family: Iransans;
    background-color: whitesmoke;
}


.modal {
    color: whitesmoke;
}

.modal-content {
    top: 15vh;
    border-radius: 0px;
    background-color: #222D32;
    padding-bottom: 34px;
}

.modal-btn-singel {
    border-radius: 0%;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 30px;
}

.modal-btn-Dual {
    border-radius: 0%;
    width: 50%;
    height: 100%;
    display: block;
}

.modal-header {
    border-bottom: 1px solid #9d9d9d;
    margin-bottom: 10px;
}

.close {
    position: relative;
    top: 5px;
    opacity: unset;
    color: #9d9d9d;
    text-shadow: none;
}

    .close:hover {
        opacity: unset;
        color: whitesmoke;
    }

    .close:focus {
        opacity: unset;
        color: #9d9d9d;
    }

.modal-main {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}

/*********************************************** Config ********************************************/

.Main-Config {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.aside-Config {
    width: 270px;
    margin-right: 15px;
}

.section-Config {
    width: calc(100% - 315px);
    margin-left: 15px;
    margin-right: 15px;
}

.section-without-login-Config {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
}

.div-without-login-Config {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.control {
    margin: 2.5px 0;
}

/*********************************************** navbar ********************************************/

#Date .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: whitesmoke;
}

#Date .table-striped > tbody > tr:nth-of-type(even) {
    background-color: white;
}

#Date a {
    color: white;
}

/*********************************************** navbar ********************************************/

.nav.navbar-nav li.credit {
    margin-top: 7.5px;
}

.navbar-inverse {
    background-color: #222d32;
    height: 60px;
    border: none;
    border-bottom: 3px solid #9d9d9d;
}

.navHeader {
    height: 60px;
    background-color: #222d32;
    padding-top: 13px;
    border-bottom: 3px solid #9d9d9d;
    padding-right: 30px;
}

    .navHeader a {
        text-decoration: none;
        font-size: 20px;
        color: #9d9d9d;
    }

.nav-item-out-login {
    text-decoration: none;
    font-size: 18px;
    color: #9d9d9d;
}

.nav-item-out-login-a {
    display: block;
    padding: 0px;
}

.nav-item-out-login-a-i-search {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 100%;
    padding-top: 6px;
    padding-right: 1px;
    font-size: 14px;
}

.nav-item-out-login-a-i-login {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 100%;
    padding-top: 5.5px;
    padding-right: 3px;
    font-size: 14px;
}

.nav-item-out-login:hover, .nav-item-out-login:active {
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
}

.main-header .navbar .nav > li > a > .label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.nav-top-userInfo-icon {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 100%;
    padding-top: 6px;
    padding-right: 6px;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
    margin-left: 5px;
    float: left;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: auto;
    left: 0;
}

.navbar-custom-menu > .navbar-nav > li {
    margin-top: 0px;
}

.nav-username {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.navbar-nav > .user-menu > .dropdown-menu {
    border-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
        height: 175px;
        padding: 10px;
        text-align: center;
    }

.main-header li.user-header {
    background-color: #222d32;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin-top: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    padding: 10px;
    border-top: 1px solid #dddddd;
    height: 55px;
    background-color: white;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: #f9f9f9;
    padding: 7px;
    height: 50px;
}

/*********************************************** Aside *********************************************/
.aside-panel {
    background-color: #222d32;
}

    .aside-panel a {
        color: #9d9d9d;
    }

.img-logo {
    margin: 20px auto 20px auto;
}

.aside-panel li > a:hover, .aside-panel li > a:focus, .aside-panel li.active > a {
    background-color: #222d32;
    color: #fff;
    border-right: 4px solid #3c8dbc;
}


.aside-sub-panel {
    background-color: #2c3b41;
    color: #9d9d9d;
}

    .aside-sub-panel li > a:hover, .aside-sub-panel li > a:focus, .aside-sub-panel li.active > a {
        background-color: #2c3b41;
        color: #fff;
        border-right: 4px solid #6ca9cc;
    }

/*.dashboard-panel li :active > .gly-rotate-90, .dashboard-panel li :focus > .gly-rotate-90{
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}*/


/*********************************************** Navigation **********************************************/
.navigation {
    margin-bottom: 15px;
}

.navigation-title {
    margin-top: 7.5px;
    margin-bottom: 0px;
}

.navigation-btn-icon {
    width: 31px;
    height: 31px;
    border: 2px solid;
    border-radius: 100%;
    padding-top: 6px;
    padding-right: 6px;
}


/*********************************************** Form **********************************************/
.esl-btn {
    border-radius: 0px;
}

.esl-btn-purchase {
    background: #222d32;
    color: whitesmoke;
    transition: all .25s;
}

    .esl-btn-purchase:hover {
        background: #8b86b9;
        color: #fff;
    }

    .esl-btn-purchase:focus {
        background: #8b86b9;
        color: #fff;
    }

.esl-btn-success {
    background: #a7a4ca;
    color: #fff;
}

    .esl-btn-success:hover {
        background: #8b86b9;
        color: #fff;
    }

.esl-btn-s {
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
}

.esl-btn-sm {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.esl-btn-L {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.esl-btn-LX {
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
}

.esl-btn-LXX {
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}

/****************************************** Login/Register *****************************************/

#login h3,
#signup h3 {
    display: inline-block;
    width: 100%;
}

.login {
    color: #a7a4ca;
}

.Login-img {
    height: 150px;
    padding: 15px;
}

.Login-btn-group {
    list-style: none;
    padding: 0;
    display: table;
    width: 100%;
    margin: 15px 0;
}

    .Login-btn-group :after {
        content: "";
        display: inline;
        clear: both;
    }


    .Login-btn-group li a {
        display: block;
        text-decoration: none;
        padding: 10px;
        background: rgba(160, 179, 176, .25);
        color: #a7a4ca;
        font-size: 14px;
        font-weight: bold;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        transition: 0.5s ease;
    }

        .Login-btn-group li a:hover {
            background: #8b86b9;
            color: #fff;
        }

    .Login-btn-group .active a {
        background: #a7a4ca;
        color: #fff;
    }

.Login-content > div:last-child {
    display: none;
}


.login-items > .form-group > input:not([type = "checkbox"]) {
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #fff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    outline: 0;
    border-color: #a7a4ca;
}

.login-items > .form-group > .time > input:not([type = "checkbox"]) {
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a7a4ca;
    color: #fff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    outline: 0;
    float: right;
    width: 33.3%;
}

.login-items > .form-group > input[type = "checkbox"] {
    float: right;
    margin-left: 10px;
}

.Login-btn-gender label {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: rgba(160, 179, 176, .25);
    color: #a7a4ca;
    font-size: 14px;
    font-weight: bold;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 0%;
}

    .Login-btn-gender label:hover {
        background: #8b86b9;
        color: #fff;
    }

    .Login-btn-gender label.active {
        background: #a7a4ca;
        color: #fff;
    }

/*********************************************** Setting **********************************************/
.setting-panel {
    min-height: 495px;
}

.setting-panel-btn {
    line-height: 10px;
    margin-left: 20px
}

.setting-detiles-col-9 {
    background-color: #222D32;
    line-height: 40px;
    border-radius: 0px;
    margin-bottom: 10px;
}

.setting-col {
    background-color: whitesmoke;
    height: 43px;
    border-radius: 0px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 10px;
}

.setting-col-titel {
    color: black;
}

.setting-col-titel-icon {
    top: 4px;
}

.setting-form-btn {
    border-radius: 0%;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

/****************************************** Purchase *****************************************/

.type {
    float: left;
    width: 135px;
    height: 70px;
    -moz-transform: translate(-60px, -25px) skew(50deg, -40deg);
    -ms-transform: translate(-60px, -25px) skew(50deg, -40deg);
    -o-transform: translate(-60px, -25px) skew(50deg, -40deg);
    -webkit-transform: translate(-60px, -25px) skew(50deg, -40deg);
    transform: translate(-60px, -25px) skew(50deg, -40deg);
    text-align: center;
}

    .type h6 {
        width: 100%;
        position: absolute;
        bottom: 0;
        margin: 0 0 7.5px 0;
        color: #fff;
    }

.box {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: -7.5px 7.5px 7.5px 7.5px;
}

.card {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
}

    .card > .card-link {
        color: #333;
    }

        .card > .card-link:hover {
            text-decoration: none;
        }

        .card > .card-link .card-img img {
            border-radius: 6px 6px 0 0;
        }

    .card .card-img {
        position: relative;
        padding: 0;
        width: 100%;
        height: 75px;
        background-color: #222d32;
        overflow: hidden;
        display: block;
    }

        .card .card-img .card-caption {
            width: max-content;
            height: max-content;
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

            .card .card-img .card-caption span {
                display: block;
                margin: 0;
                font-size: 1.2em;
            }

            .card .card-img .card-caption p {
                display: block;
                font-size: 0.8em;
            }

    .card .card-body {
        display: table;
        width: 100%;
    }

        .card .card-body .table {
            width: calc(100% - 15px);
            max-width: 100%;
            margin: 0 7.5px 75px 7.5px;
        }

            .card .card-body .table tr {
                border-top: 1px solid #ddd;
            }

                .card .card-body .table tr:last-child {
                    border-bottom: 1px solid #ddd;
                }

            .card .card-body .table > thead > tr > th, .card .card-body .table > tbody > tr > th, .card .card-body .table > tfoot > tr > th, .card .card-body .table > thead > tr > td, .card .card-body .table > tbody > tr > td, .card .card-body .table > tfoot > tr > td {
                text-align: center;
            }

            .card .card-body .table > thead > tr > th, .card .card-body .table > tbody > tr > th, .card .card-body .table > tfoot > tr > th, .card .card-body .table > thead > tr > td, .card .card-body .table > tbody > tr > td, .card .card-body .table > tfoot > tr > td {
                border: none;
                font-size: 0.8em;
            }

    .card .card-header {
        border-radius: 6px 6px 0 0;
        padding: 8px;
    }

    .card .card-footer {
        border-radius: 0 0 6px 6px;
        padding: 8px;
    }

    .card .card-left {
        position: relative;
        float: left;
        padding: 0 0 8px 0;
    }

    .card .card-right {
        position: relative;
        float: left;
        padding: 8px 0 0 0;
    }

    .card .card-body h1:first-child,
    .card .card-body h2:first-child,
    .card .card-body h3:first-child,
    .card .card-body h4:first-child,
    .card .card-body .h1,
    .card .card-body .h2,
    .card .card-body .h3,
    .card .card-body .h4 {
        margin-top: 0;
    }

    .card .card-body .heading {
        display: block;
    }

        .card .card-body .heading:last-child {
            margin-bottom: 0;
        }

    .card .card-body .lead {
        text-align: center;
    }

@media( min-width: 768px ) {
    .card .card-left {
        float: left;
        padding: 0 8px 0 0;
    }

    .card .card-right {
        float: left;
        padding: 0 0 0 8px;
    }

    .card .card-4-8 .card-left {
        width: 33.33333333%;
    }

    .card .card-4-8 .card-right {
        width: 66.66666667%;
    }

    .card .card-5-7 .card-left {
        width: 41.66666667%;
    }

    .card .card-5-7 .card-right {
        width: 58.33333333%;
    }

    .card .card-6-6 .card-left {
        width: 50%;
    }

    .card .card-6-6 .card-right {
        width: 50%;
    }

    .card .card-7-5 .card-left {
        width: 58.33333333%;
    }

    .card .card-7-5 .card-right {
        width: 41.66666667%;
    }

    .card .card-8-4 .card-left {
        width: 66.66666667%;
    }

    .card .card-8-4 .card-right {
        width: 33.33333333%;
    }
}

.card-default {
    border-color: #ddd;
    background-color: #fff;
    margin-bottom: 24px;
}

    .card-default > .card-header,
    .card-default > .card-footer {
        color: #333;
        background-color: #ddd;
    }

    .card-default > .card-header {
        border-bottom: 1px solid #ddd;
        padding: 8px;
    }

    .card-default > .card-footer {
        border-top: 1px solid #ddd;
        padding: 8px;
    }

    .card-default > .card-body {
    }

    .card-default > .card-img:first-child img {
        border-radius: 6px 6px 0 0;
    }

    .card-default > .card-left {
        padding-right: 4px;
    }

    .card-default > .card-right {
        padding-left: 4px;
    }

    .card-default p:last-child {
        margin-bottom: 0;
    }

    .card-default .card-caption {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }


.card-price {
    position: relative;
    border-color: #999;
    background-color: #ededed;
    margin: 7.5px;
    width: 280px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

    .card-price > .card-heading,
    .card-price > .card-footer {
        color: #333;
        background-color: #fdfdfd;
    }

    .card-price > .card-heading {
        border-bottom: 1px solid #ddd;
        padding: 8px;
    }

    .card-price > .card-footer {
        border-top: 1px solid #ddd;
        padding: 8px;
    }

    .card-price > .card-img:first-child img {
        border-radius: 6px 6px 0 0;
    }

    .card-price > .card-left {
        padding-right: 4px;
    }

    .card-price > .card-right {
        padding-left: 4px;
    }

    .card-price .card-caption {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    .card-price p:last-child {
        margin-bottom: 0;
    }

    .card-price .price {
        text-align: center;
        color: #337ab7;
        font-size: 1.4em;
        text-transform: uppercase;
        line-height: 0.7em;
        margin: 20px 0;
    }

        .card-price .price small {
            color: #66a5da;
        }

    .card-price .details {
        list-style: none;
        margin: 20px 0;
        padding: 0 18px;
    }

        .card-price .details li {
            text-align: center;
            margin-bottom: 8px;
        }

    .card-price .buy-now {
        position: absolute;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
        border-radius: 0;
        font-size: 16px;
    }

        .card-price .buy-now span {
            position: relative;
            top: -2px;
            font-size: 12px;
        }

    .card-price table .price {
        font-size: 1.2em;
        font-weight: 700;
        /*text-align: left;*/
    }

    .card-price table .note {
        color: #666;
    }





@media screen and (max-width:990px) {
    /*********************************************** General Style **************************************/

    /*********************************************** Config ********************************************/
    .Main-Config {
        margin-top: 130px;
    }

    .aside-Config {
        width: calc(100% - 30px);
        margin-left: 15px;
    }

    .section-Config {
        width: calc(100% - 30px);
    }

    /*********************************************** Aside *********************************************/


    /*********************************************** navbar *********************************************/
    .navHeader {
        height: 60px;
        background-color: #222d32;
        padding-top: 13px;
        border-bottom: 3px solid #9d9d9d;
        text-align: center;
    }

    .navbar-custom-menu > .navbar-nav > li {
        float: right;
    }
}
